@import 'reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';


/*-----------------------------
SETUP BOX SIZING
-----------------------------*/
* {
    @include box-sizing(border-box);
	@include transition-property (transform);
	@include transition-duration(0s);
	@include transition-timing-function(ease-in);
	@include transition-delay(0s);
}


/*-----------------------------
Play GIF on Hover
-----------------------------*/


/*-----------------------------
VARIABLES
-----------------------------*/
$primary-color: #fff;
$uni-space: .8em;

// Neat Grid
$grid-columns: 12;
$gutter: 0px;

// Neat Breakpoints
$xsmall: new-breakpoint(min-width 300px 12);
$small: new-breakpoint(min-width 650px 12);
$medium: new-breakpoint(min-width 800px 12);
$large: new-breakpoint(min-width 1100px 12);
$xlarge: new-breakpoint(min-width 1400px 12);

/*-----------------------------
ELEMENT DEFAULTS
-----------------------------*/
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=7c43f159-7a6a-44bc-8331-4ec379623302&fontids=694103");
@font-face{
	font-family:"DIN1451Engschrift";
	src:url("font/DIN1451EngSchrift.eot?#iefix");
	src:url("font/DIN1451EngSchrift.eot?#iefix") format("eot"),
		url("font/DIN1451EngSchrift.woff") format("woff"),
		url("font/DIN1451EngSchrift.ttf") format("truetype"),
		url("font/DIN1451EngSchrift.svg#DIN1451EngSchrift") format("svg");
}


a {
}


body {
	bg-color: #000;
	font-family: 'DIN1451Engschrift';
	overflow-x: hidden;
}

h1 {
	color: #000;
	font-family: 'DIN1451Engschrift';
	font-size: 2em;
	line-height: 1em;
	padding-left: -.3em;
	text-transform: uppercase;
	@include media($small){
		font-size: 1.5em;
	}
}

h2 {
	color: #000;
	display: block;
	font-family: 'DIN1451Engschrift';
	font-size: 1.5em;
	line-height: 1.1em;
	margin-bottom: .25em;
	text-transform: uppercase;
}

h3 {
	color: #fff;
	position: absolute;
	margin-top: -13em;
}

hr {
	border: .12em solid #000;
	margin: -1.4em 0 .4em 0;
}

html {
}

p {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .75em;
	padding-bottom: 1em;
	
	@include media($small){
		font-size: .8em;
	}

	@include media($medium){
		font-size: .8em;
		line-height: 1.8em;
	}
}

ul {
	font-family: 'Georgia';
	font-size: .5em
}

li {
	color: #2C2C2C;
	display: none;
	list-style-type: circle;
	@include media($small){
		display: none;
	}
}

video {
}


#p1 {
	background-image: url("../img/22_bg.jpg");}

#p2 {
	background-image: url("../img/object_bg.jpg");}

#p3 {
	background-image: url("../img/book_bg.gif");}

#p4 {
	background-image: url("../img/klik_bg.jpg");}

#p5 {
	background-image: url("../img/urban_bg.jpg");}

#p6 {
	background-image: url("../img/cs_bg.jpg");}

#p7 {
	background-image: url("../img/misc_bg.gif");}

#p8 {
	background-image: url("../img/3d_bg.jpg");}

#p9 {
	background-image: url("../img/ptn_bg.jpg");}

#p10 {
	background-image: url("../img/illus_bg.jpg");}


.hover {
	color: #4D4D4D;
	display: inline;
}

.hover:hover {
	color: #ff2e56;
}

.hover:active {
	color: #00FFFF;
}

.hover-list {
	color: #4D4D4D;
}

.hover-list:hover {
	color: #fff;
}

.hover-list:active {
	color: #ff2e56;
}


/*-----------------------------
LAYOUT
-----------------------------*/

.article {
	padding-left: 0;
	@include media($small){
		padding-left: 0em;
	}
}


#canvas {
	height: 325px;
	width: 100%;
}

#clear {
	display: none;
}

.content {
	@include span-columns(12);
	margin-right:0;
	@include media($small){
		@include span-columns(8);
	}
}

.content1 {
	@include span-columns(12);
	margin-bottom: 1em;
	@include media($small){
		margin-right: 0;
		padding-right: $uni-space;
	}
}

.content2 {
	@include span-columns(12);
	margin-bottom: 1em;
	@include media($small){
		@include span-columns(5.85);
		padding-right: $uni-space;
	}
}
.content-full {
	@include span-columns(12);
	@include media($small){
	}
}

.mobile-hide{
	display: none;
	@include media($small){
		display: block;
	}
}

.mobile-show{
	display: block;
	@include media($small){
		display: none;
	}
}

.text {
	padding-left: .8em;
	padding-right: .8em;
	@include media($small){
		@include span-columns(4);
		padding-right: 0;

	};
	@include media($medium){
	}
	@include media($large){
	}
}

.ghost{
	display: none;
	padding-left: .8em;
	padding-right: .8em;
	@include media($small){
		@include span-columns(4);
		padding-right: 0;

	};
	@include media($medium){
	}
	@include media($large){
	}
}


.grid {
	@include span-columns(12, table);
	padding-right: 0;
	padding-top:1em;

	@include media($small){
	};
	@include media($medium){
		padding: 1em 8em 0 8em;
	};
	@include media($large){
	};
	@include media($xlarge){
	};
}



.logo {
	height: auto;
	left: 0.5em;
	position: absolute;
	top: .47em;
	width: 3.5em;
	z-index: 0;
		@include media($small){
		display: block;
		height: auto;
		left: 0.5em;
		top: .47em;
		width: 3.5em;
		z-index: -1;
	}
}

#info {
	margin-left: 3.70em;
	margin-top: 0em;
		@include media($small){
		margin-left: 0em;
		margin-top: 1.5em;
	}
}

#text.sticky {
	padding-right: 2em;
     position: fixed;
     top: 1em;
}

#clear.ghost {
     display:block;
}

.main-container {
	@include outer-container();
	margin-left: 0em;
	margin-right: 0;
	max-width: 100%;
	@include media($small){
		margin-left: 0em;
	}
}

.main {
	@include fill-parent();
	@include row(table);
	background: #111;
	margin-top: -.45em;
	overflow: auto;
	
	div {
		@include span-columns(12);
		@include pad();
		background-position: 50% 50%;
		background-size: cover;
		clear: both;
		display: inline-block;
		filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		height: 12em;
		margin-bottom: -.41em;
		whitespace: nowrap;
		transition: .15s;

		@include media($small){
			@include span-columns(5.906);
			display:inline-block;
			height: 15em;
		}
		@include media($medium){
			@include span-columns(5.906);
			display:inline-block;
			height: 20em;
		}
		@include media($large){
			@include span-columns(2.457);
			display:inline-block;
			height: 15em; 
		}
		@include media($xlarge){
			@include span-columns(2.457);
			display:inline-block;
			height: 20em; 
		}
	}
	div:hover {
		filter: none; /* Firefox 3.5+ */
		filter: none; /* IE6-9 */
		-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
	}
	
	@include media($small){
	}

	@include media($medium){
	}

	@include media($large){
	}
}

.sidebar {
	background: #2C2C2C;
	font-size: 1.5em;
	height: 1.8em;
	max-width: 100%;
	padding: .40em 0em 0em $uni-space;
	z-index: 5;
		a {
			margin: 0 .1em 0 0;
		}
		div {
			display: inline-block;
			margin-bottom: .375em;
		@include media($small){
		}
			}
		img {
		}
	
	@include media($small){
		a {
			display: block;
			margin: 0 0 -.1em 0;
		}
		float: none;
		height: 3.15em;
		width: 5.08em;
		padding: .23em 0.0em 0em 1.8em;
		position: fixed;
	}
	
	@include media($medium){
	}

	@include media($large){
	}

	@include media($xlarge){
	}
}


.wrapper {
	@include outer-container;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	position: relative;
}