@import 'reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

/*-----------------------------
VARIABLES
-------------- ---------------*/
$primary-color: #fff;
$uni-space: .8em;

// Neat Grid
$grid-columns: 12;
$gutter: 0px;

// Neat Breakpoints
$xsmall: new-breakpoint(min-width 300px 12);
$small: new-breakpoint(min-width 650px 12);
$medium: new-breakpoint(min-width 800px 12);
$large: new-breakpoint(min-width 1100px 12);
$xlarge: new-breakpoint(min-width 1400px 12);

/*-----------------------------
ELEMENT DEFAULTS
-----------------------------*/
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=7c43f159-7a6a-44bc-8331-4ec379623302&fontids=694103");
@font-face{
	font-family:"DIN1451Engschrift";
	src:url("font/DIN1451EngSchrift.eot?#iefix");
	src:url("font/DIN1451EngSchrift.eot?#iefix") format("eot"),
		url("font/DIN1451EngSchrift.woff") format("woff"),
		url("font/DIN1451EngSchrift.ttf") format("truetype"),
		url("font/DIN1451EngSchrift.svg#DIN1451EngSchrift") format("svg");
}

@font-face {
	font-family: 'KeplerStd-Light';
	src: url('../font/KeplerStd-Light.eot');
	src: url('../font/KeplerStd-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/KeplerStd-Light.woff') format('woff'),
		url('../font/KeplerStd-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KeplerStd-LightIt';
	src: url('../font/KeplerStd-LightIt.eot');
	src: url('../font/KeplerStd-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../font/KeplerStd-LightIt.woff') format('woff'),
		url('../font/KeplerStd-LightIt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KeplerStd-BoldItDisp';
	src: url('../font/KeplerStd-BoldItDisp.eot');
	src: url('../font/KeplerStd-BoldItDisp.eot?#iefix') format('embedded-opentype'),
		url('../font/KeplerStd-BoldItDisp.woff') format('woff'),
		url('../font/KeplerStd-BoldItDisp.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a {
	color: #fff;
}

a:active{
	color: #C73B2F;
}

a:hover {
	color: #00336F;
}

a:visited {
	color: #fff;
}

body {
	background-color: #1A1A1A;
	font-family: 'DIN1451Engschrift';
	overflow-x: hidden;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	position: relative;
	@include media($large){
		margin-left: 10%;
		max-width: 80%;
	}
}

h1 {
	color: #fff;
	font-family: 'KeplerStd-BoldItDisp';
	font-size: 1.6em;
	@include media($small){
	}
}

h2 {
	color: #687886;
	font-family: 'KeplerStd-LightIt';
	font-size: 1em;
}

h3 {
	color: #fff;
	font-family: 'KeplerStd-BoldItDisp';
}

h4 {
	color: #fff;
	font-family: 'KeplerStd-BoldItDisp';
	font-size: .8em;
}

hr {
}

html {
}

nav {
}

p {
	color: #687886;
	font-family: 'KeplerStd-Light';
	
	@include media($small){
	}

	@include media($medium){
	}
}

ul {
}

li {
	@include media($small){
	}
}

video {
}


/*-----------------------------
LAYOUT
-----------------------------*/

#footer {
}

#header {
}

#info {
}

#main {
}

#p1 {
	background-image: url("../img/22_bg.jpg");}

#p2 {
	background-image: url("../img/object_bg.jpg");}

#p3 {
	background-image: url("../img/book_bg.gif");}

#p4 {
	background-image: url("../img/klik_bg.jpg");}

#p5 {
	background-image: url("../img/urban_bg.jpg");}

#p6 {
	background-image: url("../img/cs_bg.jpg");}

#projects {
	div {
		display: inline-block;
		height: 8em;
		width: 100%;
		@include media($small){
		}
		@include media($medium){
		}
		@include media($large){
		}
		@include media($xlarge){
		}
	}
	div:hover {
	}
}

#wrapper {
}