./config/development.ini
./config/production.ini
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
node_modules/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
