header {
    @import '~@scss/variables.scss';
    border-bottom: $primaryBorder;

    .gmn-social-media-container {
        height: 100%;

        a {
            height: 100%;

            img {
                height: 75%;

                &:not(:first-child) {
                    margin-left: 1em;
                }
            }
        }
    }
}
