header {
    @import '~@scss/variables.scss';
    border-bottom: .0125rem solid #BFBFBF;
    font-family: "KeplerStd-BoldItDisp";


    .gmn-social-media-container {
        a {
            height: 100%;

            img {
                height: 1.2em;
                padding: 0.1em;

                &:not(:first-child) {
                    margin-left: 0em;
                }
            }
        }
    }
}
