@import '~@scss/variables.scss';

.gmn-phx-header {
    color: $primaryColor;
    font-family: Helvetica;
    font-size: 2em;

    & > .gmn-home-header-right {
        // Same as bootstrap padding-left on column
        margin-left: 15px;

        & > .gmn-home-header-right-subtext {
            color: #FFAE71;
        }
    }
}

.gmn-carousel {
    img {
        height: 20em;
        width: 100%;
    }
}

.gmn-phx-content {
    color: #BFBFBF;
}

.gmn-phx-tagline {
    $margin: .5em;

    color: $secondaryColor;
    margin-bottom: $margin;
    margin-top: $margin;
}
