@import '~@scss/variables.scss';

.gmn-link {
    background-position: 50% 50%;
    background-size: cover;
    font-style: italic;
    height: 9.4em;
    position: relative;
    text-align: center;

    & > .gmn-link-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 1em;
        pointer-events: none;
        width: 100%;
        visibility: hidden;

        & > div {
            z-index: 1;

            &.gmn-link-subtext {
                color: $secondaryColor;
            }

            &.gmn-link-text {
                font-size: 1.125em;
                font-weight: bolder;
            }
        }
    }

    & > .gmn-link-overlay {
        background-color: black;
        opacity: .0;
        transition-duration: 1s;
        transition-property: opacity;

        &:hover {
            opacity: 0;
        }
    }

    & > .gmn-link-gif {
        background-position: 50% 50%;
        background-size: cover;
        visibility: hidden;
    }

    & > .gmn-link-gif,
    & > .gmn-link-overlay {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
