//$navbar-default-bg: transparent;

//$icon-font-path: '~@nm/bootstrap-sass/assets/fonts/bootstrap/';
//@import '~@nm/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$height: 2.5em;
$margin: 5%;
$padding: 1.25%;
$bgColor: #121212;

body {
	background-color: #1A1A1A;
	margin: 0px;
	width: 100vw;

	& > .container {
		background-color: $bgColor;
		margin-left: $margin;
		margin-right: $margin;

		& > main {
			color: white;
			margin-top: $height;
			padding: $padding;
			width: 100% - 2 * $padding;
		}
	}
}

footer,
header {
	background-color: $bgColor;
	color: #FFFFFF;
	height: $height;
	left: 0px;
	line-height: $height;
	margin-left: $margin;
	margin-right: $margin;
	padding-left: $padding;
	padding-right: $padding;
	position: fixed;
	width: 100% - (2 * $margin + 2 * $padding);
}
