//$navbar-default-bg: transparent;

//$icon-font-path: '~@nm/bootstrap-sass/assets/fonts/bootstrap/';
//@import '~@nm/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
	background-color: #1A1A1A;
	height: 100vh;
	margin: 0px;
	padding-top: 70px;
	width: 100vw;
}

.dark-bg {
	background-color: #121212; 
}
