//$navbar-default-bg: transparent;

//$icon-font-path: '~@nm/bootstrap-sass/assets/fonts/bootstrap/';
//@import '~@nm/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '~@scss/variables.scss';
@import '~@scss/mixins/font_face.scss';

@include font-face(KeplerStdBoldItDisp, '~@font/KeplerStd-BoldItDisp', null, null, eot ttf woff);
@include font-face(KeplerStdLight, '~@font/KeplerStd-Light', null, null, eot ttf woff);
@include font-face(KeplerStdLightIt, '~@font/KeplerStd-LightIt', null, null, eot ttf woff);

body {
	background-color: #1A1A1A;
	margin: 0px;
	width: 100vw;
}

footer,
header {
	background-color: $primaryBgColor;
	color: $primaryFontColor;
	height: $navHeight;
	left: 0px;
	line-height: $navHeight;
	padding-left: $containerPadding;
	padding-right: $containerPadding;
	position: fixed;
	width: 100% - (2 * $containerPadding);

	@media (min-width: 1200px) {
		margin-left: $containerMargin;
		margin-right: $containerMargin;
		width: 100% - (2 * $containerMargin + 2 * $containerPadding);
	}
}
